{
  "clientId": "<your-oauth-external-app-client-id>",
  "scope": "IS.Connections.Read IS.Connectors.Read OR.Users.Read",
  "orgName": "<your-org-name>",
  "tenantName": "<your-tenant-name>",
  "baseUrl": "https://api.uipath.com",
  "redirectUri": "http://localhost:5173"
}
