{
  "clientId": "<your-oauth-external-app-client-id>",
  "scope": "DataFabric.Schema.Read DataFabric.Data.Read DataFabric.Data.Write",
  "orgName": "<your-org-name>",
  "tenantName": "<your-tenant-name>",
  "baseUrl": "https://api.uipath.com",
  "redirectUri": "http://localhost:4200"
}
