{
  "clientId": "<your-oauth-external-app-client-id>",
  "scope": "OR.Tasks",
  "orgName": "<your-org-name>",
  "tenantName": "<your-tenant-name>",
  "baseUrl": "https://alpha.api.uipath.com",
  "redirectUri": "http://localhost:5173"
}
