{
  "clientId": "<external-app-client-id>",
  "baseUrl": "https://alpha.uipath.com",
  "orgName": "<org-name>",
  "tenantName": "<tenant-name>",
  "redirectUri": "http://localhost:5173",
  "scope": "PM.User.Read PM.Group PM.Directory.Read"
}
